*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Init font face */

@font-face {
    font-family: "promptLight";
    src: url(./assets/font/Prompt-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "promptSemiBold";
    src: url(./assets/font/Prompt-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "promptBold";
    src: url(./assets/font/Prompt-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}